<header class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand fw-bold" routerLink="/">Sayed</a>
  <div class="ms-auto d-flex align-items-center">
    @if(authSrv.getCurrentUser()){
      <button class="btn btn-outline-secondary me-2" [routerLink]="['/profile', authSrv.getCurrentUser()?.id]">View Profile</button>
      <button class="btn btn-outline-success me-2" (click)="authSrv.logout()">Logout</button>
    }@else {
      <button class="btn btn-outline-primary me-2" routerLink="/auth/login">Login</button>
      <button class="btn btn-primary" routerLink="/auth/register">Register</button>
    }
  </div>
</header>
