:host {
  display: block;
}
.register-container {
  max-width: 400px;
  margin: 50px auto;
}
label {
  display: block;
  margin-top: 15px;
}
input,
select {
  width: 100%;
  padding: 8px;
}
button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}
small {
  color: red;
  font-size: 12px;
}
.error {
  color: red;
  margin-top: 10px;
}
