<div class="container mt-4">
  <h2 class="mb-3">Beneficiaries</h2>

  <!-- Search -->
  <div class="mb-3 row">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name..."
        [value]="searchTerm()"
        (input)="searchTerm.set($any($event.target).value)"
      />
    </div>
  </div>

  <!-- Table -->
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th (click)="changeSort('name')" style="cursor: pointer">
          Name
          @if (sortField() === 'name') {
            <span>
              {{ sortDirection() === 'asc' ? '↑' : '↓' }}
            </span>
          }
        </th>
        <th (click)="changeSort('budget')" style="cursor: pointer">
          Budget
          @if (sortField() === 'budget') {
            <span>
              {{ sortDirection() === 'asc' ? '↑' : '↓' }}
            </span>
          }
        </th>
        <th>Age</th>
        <th>Gender</th>
        <th>Contact</th>
        <th>Status</th>
        <th>Actions</th>
        
        
      </tr>
    </thead>
    <tbody>
      @for (b of filteredList(); track b.name) {
        <tr>
          <td>{{ b.name }}</td>
          <td>${{ b.budget }}</td>
          <td>{{ b.age }}</td>
          <td>{{ b.gender }}</td>
          <td>{{ b.contact }}</td>
          <td><span class="p-1" [style]="getStatusStyles(b.status)">{{ b.status }}</span></td>
          <td class="d-flex gap-2">
            @if((authSrv.getCurrentUser()?.role === 'Admin') && b.status === 'Pending') {
            <button class="btn btn-link p-0" (click)="approveBeneficiary(b.id)">
              Approve
            </button>
          }
            <button class="btn btn-link p-0" [routerLink]="['/admin/profile', b.id]">
              View
            </button>
          </td>
          
        </tr>
      }
    </tbody>
  </table>

  @if (filteredList()?.length === 0) {
    <div class="text-center text-muted mt-4">
      No beneficiaries found.
    </div>
  }
</div>
