<div class="card" style="max-width: 400px; margin: 30px auto;">
  <div class="card-header">
    Profile Details
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ details()?.name }}</h5>
    <table class="table mb-3">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{ details()?.id }}</td>
        </tr>
        <tr>
          <th scope="row">Age</th>
          <td>{{ details()?.age }}</td>
        </tr>
        <tr>
          <th scope="row">Gender</th>
          <td>{{ details()?.gender }}</td>
        </tr>
        <tr>
          <th scope="row">Contact</th>
          <td>{{ details()?.contact }}</td>
        </tr>
        <tr>
          <th scope="row">Budget</th>
          <td>{{ details()?.budget | currency }}</td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>{{ details()?.status || details()?.role }}</td>
        </tr>
      </tbody>
    </table>
    
    <!-- <ng-container ></ng-container> -->
    @if(details()?.ratings){
      <h6>Ratings:</h6>
      @for (rating of details()?.ratings ?? []; track rating) {
        <ul class="list-group mb-3">
          <li class="list-group-item">
            Score: {{ rating.score }}
            <span class="text-muted ms-2">(From: {{ rating.ratingsrId }})</span>
          </li>
        </ul>
      } @empty {
        <p class="text-muted">No ratings available.</p>
      }
    }
    <button class="btn btn-primary" routerLink="../">Go Back</button>
    @if(!(details()?.id === authSrv.getCurrentUser()?.id) && authSrv.isBeneficiary()) {
      <!-- <button class="btn btn-warning ms-2" routerLink="/beneficiary/edit">Edit Profile</button> -->
      <button class="btn btn-success ms-2" type="button" (click)="rateBeneficiary(details()?.id || null )">Rate</button>
    }
  </div>
</div>
